@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer utilities {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }
} */

@keyframes marquee {
  0% { transform: translate3d(0,0,0); }
  100% { transform: translate3d(-33.3333%,0,0); } /* 🔥 more precise */
}

.animate-marquee {
  animation: marquee 7s linear infinite; /* ⚖️ 7s too fast */
  will-change: transform;
}